.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 215px 80px;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
}

.recipes__description {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
